<a href="https://colab.research.google.com/github/jhye0305/tasks/blob/main/PD_Series4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {'국어': [90, 80, 85, 88, 92],
        '영어': [85, 88, 90, 75, 95],
        '수학': [75, 92, 88, 79, 96]}

df_score1 = pd.DataFrame(data)

student_names = ['Student1', 'Student2', 'Student3', 'Student4', 'Student5']
df_score1.index = student_names


df_score2 = df_score1.reset_index()
print(df_score2)


df_score2.set_index('index', inplace=True)
print(df_score2)

      index  국어  영어  수학
0  Student1  90  85  75
1  Student2  80  88  92
2  Student3  85  90  88
3  Student4  88  75  79
4  Student5  92  95  96
          국어  영어  수학
index
Student1  90  85  75
Student2  80  88  92
Student3  85  90  88
Student4  88  75  79
Student5  92  95  96

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(0)
grade1 = np.random.randint(0,101,(5,3))
class1 = np.random.randint(1,4, (5,1))
number1 = np.random.randint(1,31, (5,1))
df_score3 = pd.DataFrame(np.hstack([grade1,class1,number1]), columns=["국어","영어","수학","반","번호"])
print(df_score3)

   국어  영어  수학  반  번호
0  44  47  64  2   6
1  67  67   9  3  26
2  83  21  36  3  14
3  87  70  88  1   9
4  88  12  58  2  10

In [ ]:
df_score4 = df_score3.set_index(['반','번호']).sort_index(level=0)
print(df_score4)

      국어  영어  수학
반 번호
1 9   87  70  88
2 6   44  47  64
  10  88  12  58
3 14  83  21  36
  26  67  67   9

In [ ]:
df_score4['평균']=df_score4.apply(lambda x:np.round((int(x['국어'])+int(x['영어'])+int(x['수학']))/3),axis=1)
print(df_score4)

      국어  영어  수학    평균
반 번호
1 9   87  70  88  82.0
2 6   44  47  64  52.0
  10  88  12  58  53.0
3 14  83  21  36  47.0
  26  67  67   9  48.0

In [ ]:
df_score5 = df_score3.set_index(['반','번호']).unstack('반')
df_score5.columns.names = ['과목', '반']

df_score5.loc[("평균점수"), :] = df_score5.mean()
print(df_score5)

과목      국어                영어                수학
반        1     2     3     1     2     3     1     2     3
번호
6      NaN  44.0   NaN   NaN  47.0   NaN   NaN  64.0   NaN
9     87.0   NaN   NaN  70.0   NaN   NaN  88.0   NaN   NaN
10     NaN  88.0   NaN   NaN  12.0   NaN   NaN  58.0   NaN
14     NaN   NaN  83.0   NaN   NaN  21.0   NaN   NaN  36.0
26     NaN   NaN  67.0   NaN   NaN  67.0   NaN   NaN   9.0
평균점수  87.0  66.0  75.0  70.0  29.5  44.0  88.0  61.0  22.5