<a href="https://colab.research.google.com/github/jhye0305/tasks/blob/main/PD_Series3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
#4.4.1
column_count = titanic.count()
print(column_counts)

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [ ]:
#4.4.2
sex_counts = titanic['sex'].value_counts().sort_values()
print(sex_counts)

female    314
male      577
Name: sex, dtype: int64

In [ ]:
age_counts = titanic['age'].value_counts().sort_values()
print(age_counts)

74.00     1
34.50     1
0.42      1
0.67      1
66.00     1
         ..
28.00    25
19.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

In [ ]:
class_counts = titanic['class'].value_counts().sort_values()
print(class_counts)

Second    184
First     216
Third     491
Name: class, dtype: int64

In [ ]:
alive_counts = titanic['alive'].value_counts().sort_values()
print(alive_counts)

yes    342
no     549
Name: alive, dtype: int64

In [ ]:
#4.4.3
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset("titanic")
average_age_all_passengers = titanic['age'].mean()
print("Average Age of All Passengers:", average_age_all_passengers)
average_age_female_passengers = titanic[titanic['sex'] == 'female']['age'].mean()
print("Average Age of Female Passengers:", average_age_female_passengers)
average_age_female_1st_class_passengers = titanic[(titanic['sex'] == 'female') & (titanic['class'] == 'First')]['age'].mean()
print("Average Age of Female Passengers in 1st Class:", average_age_female_1st_class_passengers)

Average Age of All Passengers: 29.69911764705882
Average Age of Female Passengers: 27.915708812260537
Average Age of Female Passengers in 1st Class: 34.61176470588235

In [ ]:
#4.4.4
titanic["adult/child"] = titanic.apply(lambda r: "adult" if r.age >= 20 else "child", axis=1)
def category1(row):
    if row['age'] >= 20:
        return row['sex']
    else:
        return 'child'
titanic['category1'] = titanic.apply(category1, axis=1)
titanic.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,adult/child,category1
886,0,2,male,27.000000,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,adult,male
887,1,1,female,19.000000,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,child,child
888,0,3,female,29.699118,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,adult,female
889,1,1,male,26.000000,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,adult,male
890,0,3,male,32.000000,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,adult,male

In [ ]:
#4.4.5 ???
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset("titanic")

mean_age = titanic['age'].mean()
titanic['age'] = titanic['age'].fillna(mean_age)

print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [ ]:
#4.4.6
titanic['age'] = titanic['age'].astype(int)
titanic['category2'] = titanic.sex+titanic.age.astype(str)
titanic.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,adult/child,category1,category2
886,0,2,male,27,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,adult,male,male27
887,1,1,female,19,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,child,child,female19
888,0,3,female,29,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,adult,female,female29
889,1,1,male,26,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,adult,male,male26
890,0,3,male,32,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,adult,male,male32

In [ ]:
#4.4.7
bins = [1, 20, 30, 50, 70, 100]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
titanic["연령대"] = pd.cut(titanic.age, bins, labels=labels)
titanic_age = pd.DataFrame(titanic.연령대.value_counts(), columns=["연령대"])
titanic_age["비율"] = titanic_age.apply(lambda i : i.연령대 / titanic_age.연령대.sum(), axis=1)
titanic.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,adult/child,category1,category2,연령대
886,0,2,male,27,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,adult,male,male27,청년
887,1,1,female,19,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,child,child,female19,미성년자
888,0,3,female,29,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,adult,female,female29,청년
889,1,1,male,26,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,adult,male,male26,청년
890,0,3,male,32,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,adult,male,male32,중년

In [ ]:
#4.4.8
titanic["category3"] = titanic.apply(lambda i : i.연령대 if i.age < 20 else i.연령대+i.sex, axis=1)
titanic.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,adult/child,category1,category2,연령대,category3
886,0,2,male,27,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,adult,male,male27,청년,청년male
887,1,1,female,19,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,child,child,female19,미성년자,미성년자
888,0,3,female,29,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,adult,female,female29,청년,청년female
889,1,1,male,26,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,adult,male,male26,청년,청년male
890,0,3,male,32,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,adult,male,male32,중년,중년male